<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>makeupselector.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>454C60F81D1F5CDE0053B661</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4584593F1E04DC550067BE5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4584594C1E04E11D0067BE5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
